---
---

@import "main";

/* Regole personalizzate */
.post-tags {
  display: none !important;
}

#related-posts {
  display: none !important;
}

.dashboard-sidebar .Box:nth-child(3) { 
  display: none !important; 
}
